{% extends "base.html" %}
{% block content %}
<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email() }}
    {{ form.password.label }} {{ form.password() }}
    {{ form.submit() }}
</form>
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container-fluid">
    {% for category, message in messages %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% endblock %}
