<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static',filename='styles/base-style.css') }}" rel="stylesheet" type="text/css">
    <link rel="icon" href="{{ url_for('static',filename='book-icon.png') }}" type="image/png">
    <title>TextbookConnect</title>
</head>
<body>
<header>
    <div class="container">
        <img src="{{ url_for('static',filename='Logo.png') }}" alt="logo"  class = "logo-image">
        <nav>
            <ul>
                <li class="top-button"><a href="{{ url_for('Home') }}">Homepage</a></li>
                <li class="top-button"><a href="{{ url_for('BookAll') }}">Browse</a></li>
                <li class="top-button"><a href="{{ url_for('Classes') }}">Classes</a></li>
                <li>
                    <form action="{{ url_for('handle_data') }}" method="POST">
                        <input type="text" name="Search" placeholder="Search" class="search-bar">
                        <button type="submit" class="search-button">
                            <img src="{{ url_for('static',filename='search.png') }}" class="search-button-image">
                        </button>
                    </form>
                </li>
                <li class="account-button">
                    <a href="{{ url_for('Login.login') }}">
                        <img src="{{ url_for('static',filename='account.png') }}" alt="account-button" class="account-button-image">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
{% block content %}

{% endblock %}
</body>
</html>
