{% extends "base.html" %}
{% block content %}
<head>
  <!-- CSS only -->
  <link href="{{ url_for('static',filename='styles/bookpage.css') }}" rel="stylesheet" type="text/css">

</head>
<b><p id="book-name"> {{Book.name}} </p></b>

<img id="book-image" src="/static/{{Book.name}}.jpg">
<table class="fancy-table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Price</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
    {% for Offer in Offers%}
    <tr>
      <th scope="row">{{User.query.filter_by(id = Offer.sellerId).first().username}}</th>
      <td>{{User.query.filter_by(id = Offer.sellerId).first().email}}</td>
      <td>{{Offer.price}}</td>
      <td>{{User.query.filter_by(id = Offer.sellerId).first().phoneNumber}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
Create Request: <br>
<form class="d-flex" action="{{ url_for('create_request', bookId = Book.id) }}" method="POST" name="projectFilepath">
  <input name="text" id="bookpage-search" class="form-control me-2" type="search" placeholder="Price" aria-label="Search">
  <button type="submit" id="bookpage-submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}
<!--
"{{url_for('static', filename=Book.name)}}"
"{{ "/static/" + Book.name }}"
-->
