{% extends "base.html" %}
{% block content %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap%27');
  #book-list{
    margin: 20px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 10px;
  }
  #book-list:hover{
    color: gray;
  }
</style>
<br>
<div class="container">
  {% for Class in Class%}
  {% for book in Class.books %}
    <a id="book-list" href="{{ url_for('DisplayBook', bookName = book ) }}">{{book}}</a>
    <br>
    <br>
  {% endfor %}
  {% endfor%}
</div>
{% endblock %}
