<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="./base-style.css" rel="stylesheet" type="text/css">

    <title>Navigation Bar</title>
</head>
<body>
<header>
    <div class="container">
        <img src="./assets/logo.png" alt="logo" class = "logo-image">
        <nav>
            <ul>
                <li class="top-button"><a href="./index.html">Homepage</a></li>
                <li class="top-button"><a href="./browse.html">Browse</a></li>
                <li class="top-button"><a href="">Classes</a></li>
                <li>
                    <form action="" method="POST">
                        <input type="text" name="Search" placeholder="Search" class="search-bar">
                        <button type="submit" class="search-button">
                            <img src="./assets/search.png" class="search-button-image">
                        </button>
                    </form>
                </li>
                <li class="account-button">
                    <a href="">
                        <img src="./assets/account.png" alt="account-button" class="account-button-image">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html> 