<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextbookConnect</title>
    <link rel='stylesheet' href='./style.css'>
    <link rel="icon" href="assets/book-icon.png" type="image/png">
</head>
<body>
    <div>
        <div class="top-section">
            <div class="top-text">
                <h5>Direct: Student-to-student transactions</h5>
                <h5>Convenient: No shipping hassles</h5>
                <h5>Affordable: No external fees or taxes</h5>
            </div>
            <div class="top-images">
                <img src="./assets/book-icon.png" alt="book-icon" id="book-icon">
                <img src="./assets/money-icon.png" alt="money-icon" id="money-icon">
            </div>
        </div>

        
        <h6>TextbookConnect is a textbook marketplace for students to buy and sell their textbooks 
            directly within their campus.</h6>
        
        
        <div class="guide">
            <p>Guide:</p>
        
            <p>1. Create an account.</p>
            <p>2. Browse books in “Browse” or find your required books in “Classes”.</p>
            <p>3. Click on a textbook to find a listing or create a listing!</p>
            <p>4. Contact your textbook buddy to finish the transaction.</p>
            <p>5. Save money!</p>
        </div>
    </div>
</body>
</html>